body {
  background-color: #347;
  color: #fff;
  font: 10px Helvetica, Arial;

  & * {
    // border: 1px solid #f0f;
  }

  #map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .ol-attribution {
      display: none;
    }
  }

  #overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 20px;
    background-color: rgba(64,0,0,0.8);
    color: #fff;
  }

  #overlay2 {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 20px;
    background-color: rgba(0,0,64,0.8);
    color: #fff;
  }
}
