body {
  background-color: #333;

  & * {
    // border: 1px solid #f0f;
  }

  #map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  #overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
  }
}
