body {
  background-color: #101418;
  color: #fff;
  font: 10px Helvetica, Arial;

  & * {
    // border: 1px solid #f0f;
  }

  #map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    .ol-attribution {
      display: none;
    }
  }

  #overlay {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 20px;
    background-color: rgba(64,0,0,0.8);
    color: #fff;
  }

  #overlay2 {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 20px;
    background-color: rgba(0,0,64,0.8);
    color: #fff;
  }

  #overlay3 {
    position: absolute;
    margin: 0;
    bottom: 0px;
    height: 189px;
    width: 354px;
    right: 200px;
    padding: 0px;
    background-color: rgba(0,0,64,0.8);
    color: #fff;
    overflow: hidden;
  }
  #newsFrame {
    width: 379px;
    height: 213px;
    z-index: 2;
    left: -25px;
    top: -12px;
    position: absolute;
  }

  .raise {
    -webkit-transition: bottom 2s; /* Safari */
    transition: bottom 1s;
    bottom: 0px !important;
  }

  .lower {
    -webkit-transition: bottom 2s; /* Safari */
    transition: bottom 1s;
    bottom: -213px !important;
  }
}

#menu {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 20px;
  width: 200px;
  background-color: rgba(64,0,0,0.8);
  color: #fff;

  p {
    margin: 0 0 5px 0;
    width: 100px;
    float: left;
  }
}

#scenario-panel {
  position: absolute;
  right: 0px;
  min-width: 120px;
  width: 10%;
  height: 100%;
  margin: -10px;
  background-color: #2c3e50;
  padding-top: 30px
}

.round-pic {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-size: 120% !important;
  background-position: -8px -10px  !important;
  margin-bottom: 100px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

.avatar {
  background: url(img/dummy.jpg) no-repeat;
}

.avatar.alg {
  background-size: 260% !important;
  background-position: -35px -95px  !important;
  background: url(img/älg.jpg) no-repeat;
}

.avatar.fabrik {
  background: url(img/fabrik.jpg) no-repeat;
}

.avatar.regn {
  background-size: 160% !important;
  background-position: -30px -5px  !important;
  background: url(img/regn.jpg) no-repeat;
}

#scenario-title {
    color: #ecf0f1;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: -10px;
    width: 100%;
    display: block;
    margin-bottom: 80px
}

#scenario-text {
    color: #ecf0f1;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    top: 105px;
    width: 100%;
    display: block;
}

#fake-news-title {
    color: white;
    font-size: 2em;
    z-index: 200;
    bottom: 23px;
    position: absolute;
    left: 10px;
    color: black;
    font-weight: bold;
}

.marquee {
    //width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 8s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.grow { transition: all .1s ease-in-out; }
.grow:hover { transform: scale(1.1); }